* {
    box-sizing: border-box;
}

.loginpage_signup {
    width: 350px;
    padding: 30px;
    padding-top: 5px;
}

.signup_desc {
   color: #737373;
   font-size: 18px; 
   font-weight: 600;
}

.signup_with_f {
 margin-top: 20px;
 background-color: #0095f6;
 color: #fff;
 padding: 7px 16px;
 border-radius: 5px;
 letter-spacing: 0.5px;
 font-weight: 600;
}

.signup_fb_logo {
    position: relative;
    top: 4px;
    width: 20px;
    margin-right: 5px;
}

.signup_form {
    margin-top: 10px;
}

.signup_form input {
    margin-bottom: 5px;
    padding: 9px 0px 7px 8px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 280px;
    font-size: 12px;
}

.signup_text{
    margin-top: 10px;
    font-size: 12px;
    color: #737373;
}

.signup_text a{
    color: #00376b;
    text-decoration: none;
}

.register {
    margin-top: 15px;
    background-color: #0095f6;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 600;
    width: 100%;
    border: none;
}