.messages {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.m_left {
    min-width: 377px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dbdbdb;
    padding: 36px 24px 12px 0;
}

.m_left img {
    cursor: pointer;
}

.m_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m_main {
    height: 815px;
    overflow-y: scroll;
}

.m_user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
}

.m_user > div {
    margin-left: 10px
}

.m_user > div small {
    color: #737373;
}

.m_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m_right img {
    width: 100%;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.m_right div {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: 2px solid #000;
}

.m_right h2 {
    font-weight: 500;
}

.m_right p {
    color: #737373;
}

.m_right button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #0095f6;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.newMessage { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    display: flex; justify-content: center;
    align-items: center;
}

.newMessage > img {
    width: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.newMessage_div {
    background-color: #fff;
    border-radius: 10px;
    width: 540px;
}

.nm_header {
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}

.nm_search {
    padding: 0px 16px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

.nm_search input {
    padding: 4px 12px 4px 20px;
    width: 400px;
    border: 0px solid;
    background-color: inherit;
}

.nm_search input:focus {
    outline: none;
}

.nm_main {
    width: 100%;
    height: 410px;
    padding: 10px;
    overflow-y: scroll;
}

.chat {
    padding: 16px 32px;
}

.chat button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0095f6;
    color: #fff;
    cursor: pointer;
}

.chatting {
    position: relative;
    width: 100%;
    height: 100%;
} 

.ch_header {
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

.ch_header img {
    margin-right: 20px;
}

.ch_main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 100px 0;
}

.ch_main button {
    margin: 30px;
    padding: 8px 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ch_main button:hover {
    background-color: #b5b5b5;
}

.descr {
    text-align: center;
}

.descr img {
    margin-top: 20px;
}

.ch_footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 480px;
    background-color: #fff;
}

.message_div {
    width: 100%;
    padding: 5px;
    text-align: right;
}

.message {
    max-width: 390px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    background-color: #0095f6;
    color: #fff;
}

.small {
    font-size: 8px;
    margin-top: 10px;
}

.smal {
    font-size: 12px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    color: #fff;
}

.player {
    width: 200px;
    height: auto;
    position: relative;
}

.ch_footer input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #dbdbdb
}

@media screen and (max-width: 900px) {
    .m_left {
        min-width: 84px;
    }   

    .m_header {
        justify-content: center;
        margin-bottom: 20px;
    }

    .m_user {
        justify-content: center;
    }

    .m_header h3, .m_main h4, .m_user > div {
        display: none;
    }

    .ch_footer {
        left: 190px;
    }
}

@media screen and (min-width: 1200px) {
    .m_left {
        padding-left: 24px;
    }

    .ch_footer {
        left: 630px;
    }
}


@media screen and (max-width: 600px) {

    .ch_footer {
        left: 100px;
        bottom: 50px;
    }
}
