$color-grey-default: #fbfbfb;
$color-grey-secondary: #ababab;
$color-grey-dark-1: #8e8e8e;
$color-grey-dark-2: #9c9c9c;
$color-grey-light: #e3e3e3;
$color-grey-light-1: #fafafa;
$color-white: #fff;
$color-blue: #0095f6;
$color-black: #363636;
$color-black-dark: #000;