
body {
    background: #FFFFCC;
}
image{
    max-height: 570px;
    max-width: 570px;
    width: 100%;
    height: 100%;
}

.caption-textarea{
    background: transparent;
    border: none;
    overflow: auto;
    resize: none;
    padding: 4px;
}

.caption-textarea:focus { 
    outline: none !important;
    border-color: none;
}
