.statusbar_container {
    height: 110px;
    width: 615px;
    margin: 25px 0px;
    padding: 25px;
    display: flex;
    overflow-x: scroll;
}

.statusbar_status {
    width: 60px;
    height: 60px;
    border: 3px solid #df3968;
    border-radius: 50%;
}

.status {
    margin: 0px 10px;
}

.statusbar_text {
    font-size: 12px;
    width: 60px;
    overflow-x: hidden;
    text-align: center;
}

@media screen  and (max-width: 500px) {
    .statusbar_container {
        margin: 0;
        padding: 10px 0px;
        border-bottom: 1px solid #dbdbdb;
    }    
}