.ProfileWrapper {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderWrap {
    display: flex;
    gap: 50px;
    align-items: center;
    border-bottom: 1px solid rgb(229 229 229);
    padding-bottom: 50px;
}

img {
    object-fit: contain;
    width: 150px !important;
    border-radius: 9999px;
    padding: 4px;
    border: 3px solid rgb(219 39 119);
    flex: 0.2;
}

.HeaderInfoWrap {
    flex: 0.8;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 750px) {
        display: flex;
        gap: 30px;
    }
}

h1 {
    color: rgb(115 115 115);
    font-size: 30px;
    font-weight: 200;
}

.ButtonsContainer {
    display: flex;
    gap: 10px;
}

.StatisticsWrap {
    padding: 20px 0;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
}

img {
    width: 100%;
}