@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;  

.instagram-font {
    font-family: Cookie, cursive;
}

.bg-blue-inst {
    background: #dbe3dd;
}

.text-blue-inst {
    color: #3877a1;
}