.userprofile {
  .container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    // this is style for user panel
  }

  .btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    // this is style for user panel
    color: inherit;
    padding: 0;
    cursor: pointer;
  }

  .btn:focus {
    // this is style for user panel
    outline: 0.5rem auto #4d90fe;
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    // this is style for user panel
  }

  /* Profile Section */
  // this is style for user panel

  .profile {
    padding: 5rem 0;
  }

  .profile::after {
    content: "";
    display: block;
    clear: both;
  }

  .profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    // this is style for user panel
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
  }

  .profile-image img {
    border-radius: 50%;
  }

  .prof-us-prof-settings,
  .profile-stats,
  .profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
  }

  .prof-us-prof-settings {
    // this is style for user panel
    margin-top: 1.1rem;
  }

  .prof-us-prof-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
  }

  // this is style for user panel
  .profile-edit-btn {
    font-size: 1.4rem !important;
    line-height: 1.8 !important;
    border: 0.1rem solid #dbdbdb !important;
    // this is style for user panel
    border-radius: 0.3rem !important;
    padding: 0 2.4rem !important;
    margin-left: 2rem !important;
  }

  .profile-settings-btn {
    // this is style for user panel
    font-size: 2rem;
    margin-left: 1rem;
  }

  .profile-stats {
    margin-top: 2.3rem;
  }

  .profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
  }

  .profile-stats li:last-of-type {
    margin-right: 0;
    // this is style for user panel
  }

  .profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    // this is style for user panel
    margin-top: 2.3rem;
  }

  .profile-real-name,
  .profile-stat-count,
  .profile-edit-btn {
    font-weight: 600;
    // this is style for user panel
  }

  /* Gallery Section */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
  }
  // this is style for user panel

  .gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    // this is style for user panel
    color: #fff;
    cursor: pointer;
    .img__container{
      height: 200px;
      width: 200px;
      position: relative;
      padding: 3px;
      svg{
        cursor: pointer;
        color: red;
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }
  cursor: pointer;
      img{
        width: 100%;
      }
    }
    .img__container:hover{
      svg{
        cursor: pointer;
        display: flex;
      }
    }
  }

  

  // this is style for user panel
  .gallery-item-info {
    display: none;
  }

  .gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    // this is style for user panel
  }

  .gallery-item-likes {
    margin-right: 2.2rem;
    // this is style for user panel
  }

  .gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }
  // this is style for user panel



  .gallery-image {
    // this is style for user panel
    width: 100%;
    height: 100%;
    object-fit: cover;
    // this is style for user panel
  }

  /* Loader */

  .loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    // this is style for user panel
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
  }

  /* Media Query */

  @media screen and (max-width: 40rem) {
    // this is style for user panel
    .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0;
    }

    .profile::after {
      // this is style for user panel
      display: none;
    }

    .profile-image,
    .prof-us-prof-settings,
    .profile-bio,
    .profile-stats {
      float: none;
      width: auto;
    }
    // this is style for user panel

    .profile-image img {
      width: 7.7rem;
    }

    .prof-us-prof-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
    }

    .prof-us-prof-name {
      // this is style for user panel
      font-size: 2.2rem;
    }

    .profile-edit-btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem;
    }

    .profile-edit-btn {
      margin-left: 0;
    }

    .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }

    // this is style for user panel
    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
      flex-basis: 100%;
    }

    .profile-stats {
      // this is style for user panel
      order: 1;
      margin-top: 1.5rem;
    }

    .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      // this is style for user panel
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
    }

    .profile-stat-count {
      display: block;
    }
  }

  /* Spinner Animation */

  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }

  /*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

  @supports (display: grid) {
    .profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 3rem;
      align-items: center;
    }

    .profile-image {
      grid-row: 1 / -1;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 2rem;
    }

    .profile-image,
    .prof-us-prof-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
      width: auto;
      margin: 0;
    }

    @media (max-width: 40rem) {
      .profile {
        grid-template-columns: auto 1fr;
        grid-row-gap: 1.5rem;
      }

      .profile-image {
        grid-row: 1 / 2;
      }

      .prof-us-prof-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
      }

      .profile-edit-btn,
      .profile-stats,
      .profile-bio {
        grid-column: 1 / -1;
      }

      .prof-us-prof-settings,
      .profile-edit-btn,
      .profile-settings-btn,
      .profile-bio,
      .profile-stats {
        margin: 0;
      }
    }
  }
}
