body {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body,
html {
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c00cd8;
}

.form-signin {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: rgb(215, 208, 13); 
  }
  to {
    opacity: 1;
    background-color: rgb(192, 14, 14); 
  }
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #cd0ea3;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  background-color: #530adb; 
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  border-color: #6cb2eb;
  box-shadow: 0 0 10px rgba(108, 178, 235, 0.5);
}

.form-signin input[type="email"]:focus {
  outline: none;
  border-color: #6cb2eb;
  box-shadow: 0 0 10px rgba(108, 178, 235, 0.5);
}
