.sorch-modal {
  position: fixed;
  // adajdwoawjodaiwjdoawd
  top: 52px;
  // adajdwoawjodaiwjdoawd
  left: 0;
  // adajdwoawjodaiwjdoawd
  right: 0;
  // adajdwoawjodaiwjdoawd
  margin: auto;
  // adajdwoawjodaiwjdoawd
  width: 57%;
  // adajdwoawjodaiwjdoawd
  min-height: 283px;
  // adajdwoawjodaiwjdoawd
  max-width: 434px;
  // adajdwoawjodaiwjdoawd
  z-index: 10;
  // adajdwoawjodaiwjdoawd
  background-color: #fff;
  // adajdwoawjodaiwjdoawd
  .card {
    // adajdwoawjodaiwjdoawd
    .user-image-container-search{
      // adajdwoawjodaiwjdoawd
      width: 70px;
      // adajdwoawjodaiwjdoawd
      justify-content: initial;
      height: 70px;
      align-items: center;
      margin: 20px;
      display: flex;
    }
  }
}
