.btn-edit {

    &, 
    &:link, 
    &:visited {
        color: $color-black-dark;
        font-size: 1.4rem;
        font-weight: 600;
        text-decoration: none;
        border-radius:5px;
        padding: .5rem 1rem;
        border: 1px solid $color-grey-light;
    }

    &:focus {
        opacity: 0.5;
    }
}