.btn {
    text-decoration: none;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 0.4rem;
    font-weight: bold;
    border-style: none;
    height: 2.7rem;
    
    &--off {
        opacity: .5;
    }
}

.btn-simple {
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: $color-blue;
}