.comments {

    display: flex;
    flex-direction: column;

    &__container {
        margin-left: 1rem;
    }

    &__comment {
        //margin-left: 0.5rem;

        &-txt {
            margin-left: 0.5rem;
            font-size: 1.4rem;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__name {
        color: $color-black-dark;
        font-weight: 600;
        font-size: 1.4rem;
    }

    &__date {
        color: $color-grey-dark-1;
        font-size: 1rem;
        text-transform: uppercase;
    }

    &__more {
        margin: 0.5rem 0;
        font-weight: 600;
        font-size: 1.4rem;
        color: $color-grey-dark-1;
        cursor: pointer;
    }

}