.file-input {

    &__disabled {
        opacity: .5;
    }

    &__input:focus + label {
        outline: 1px solid #000;
        outline: -webkit-focus-ring-color auto 2px;
    }

    &__input:hover + label,
    &__input:focus + label {
        transform: scale(1.02);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.225);
    }

    &__file-name {
        position: absolute;
        bottom: -35px;
        left: 10px;
        font-size: 0.85rem;
        color: #555;
    }

    & label {
        font-weight: 600;
        font-size: 1.4rem;
        display: block;
        position: relative;
        width: 15rem;
        height: 4rem;
        border-radius: .6rem;
        background-color: $color-blue;
        //background: linear-gradient(40deg, $color-blue, $color-blue);
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.225);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: tranform .2s ease-out,
                    box-shadow .10s ease-out;
    }   
    
    
}

#file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}