.navigation {
    width: 100%;
    position: fixed;
    background-color: $color-white;
    height: 5rem;
    border-bottom: 1px solid $color-grey-light;

    display: flex;
    justify-content: center;
    z-index: 999;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        & > * {
            flex: 0 1;
        }
    }

    &__right {
        //background-color: orangered;
        height: 100%;
        //width: 20rem;
        align-self: end;

        display: flex;
        align-items: center;
        //align-content: center;

        & > * {
            margin-left: 2rem;
        }
    }

    &__profile {
        height: 3rem;
        width: 3rem;
        flex: 0 0;
    }

    &__pic {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
    }

    &__logo {
        margin-top: 0.8rem;

        &:active {
            opacity: 0.5;
        }
        
        &-img {
            //width: 10rem;
            height: 3.3rem;
            width: 10rem;
            //height: 6rem;
            //aspect-ratio: 1;
        }
    }

    &__home {
        stroke: $color-black;
        width: 3rem;
        height: 3rem;
        flex: 0 0;
    }

    &__out {
        stroke: $color-black;
        width: 3rem;
        height: 3rem;
        flex: 0 0;

        &-btn {
            border-style: none;
            background-color: transparent;
            width: 3rem;
            height: 3rem;
        }
    }

    &__search {
        //justify-self: center;
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 40%;
    }
}