@use 'sass:math';

.photos {
    width: 60%;
    margin: 0 auto;
    

    

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
    }

    &__photo {
        width: 100%;
        aspect-ratio: 1;
        position: relative;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &__stats {
        width: 100%;
        height: 100%;

        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;    
        display: flex;
        justify-content: center;
        align-items: center;
        //fill: $color-white;
        color: $color-white;

        font-size: 1.6rem;
        font-weight: 600;

        &:hover, &:focus {
            cursor: pointer;
            background-image: linear-gradient(to right, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
            opacity: 1;
        }
    }

    &__likes {
        display: flex;
        width: 13%;
        align-items: center;
        margin-right: 3rem;

        & > *:first-child {
            margin-right: 0.5rem;
        }
    }

    &__comments {
        display: flex;
        width: 13%;
        align-items: center;

        & > *:first-child {
            margin-right: 0.5rem;
        }
    }

    &__none {
        height: 20rem;
        //background-color:white;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        font-size: 1.4rem;
    }

}