.suggestions {
    display: flex;
    flex-direction: column;

    &__text {
        margin: 2rem 0;
        font-weight: 600;
        font-size: 1.4rem;
        color: $color-grey-dark-1;
    }

    &__container {
        & > *:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}