.subscribe_btn{
    background-color: rgba(255, 249, 249, 0.805);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
    border-radius: 7px;
    cursor: pointer;
}
.user_actions{
    flex-direction: column;
}
.header_2{
    position: absolute;
    top: 0;
    left: 0;
}
.form_block{
    display: flex;
    width: 100%;
    align-items: center;
}
.user_f{
    display: flex;
    gap: 100px;
}
.btn{
    margin-top: 10px;
}