*{
    outline: none;
}
.hoverPost{
    width: 250px;
    height: 250px;
}

.hoverPost p {
    display: none;
}

.hoverPost:hover p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    text-shadow: 0 0 100px #fff;
    font-size: 20px;
}


.likes:hover{
    cursor: pointer;
}

.none-scroll::-webkit-scrollbar {
    display: none;
}

.bg-dark{
    background: #1C1C1C;
}