/* General Styles */
.bg-dark {
    background: #1C1C1C;
}

/* Hover Effect for Posts */
.post-container {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.post-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    text-shadow: 0 0 100px #fff;
    font-size: 20px;
}

.post-container:hover .post-content {
    display: flex;
}

/* Like Button Hover Effect */
.like-button:hover {
    cursor: pointer;
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
