

.mainContent {
    width: 630px;
}

.suggestions_section {
    width: 383px;
    margin-left: 64px;
}

@media  screen and (max-width: 1200px) {
    .suggestions_section {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .mainContent {
        margin-top: 60px;
        width: 100%;
    }
}

